
build-pult-Desktop_Qt_5_11_1_MinGW_32bit-Debug/.qmake.stash
build-pult-Desktop_Qt_5_11_1_MinGW_32bit-Debug/debug/controlpanel.o
build-pult-Desktop_Qt_5_11_1_MinGW_32bit-Debug/debug/main.o
build-pult-Desktop_Qt_5_11_1_MinGW_32bit-Debug/debug/moc_controlpanel.cpp
build-pult-Desktop_Qt_5_11_1_MinGW_32bit-Debug/debug/moc_controlpanel.o
build-pult-Desktop_Qt_5_11_1_MinGW_32bit-Debug/debug/moc_predefs.h
build-pult-Desktop_Qt_5_11_1_MinGW_32bit-Debug/debug/moc_rovorient.cpp
build-pult-Desktop_Qt_5_11_1_MinGW_32bit-Debug/debug/moc_rovorient.o
build-pult-Desktop_Qt_5_11_1_MinGW_32bit-Debug/debug/pult.exe
build-pult-Desktop_Qt_5_11_1_MinGW_32bit-Debug/debug/rovorient.o
build-pult-Desktop_Qt_5_11_1_MinGW_32bit-Debug/Makefile
build-pult-Desktop_Qt_5_11_1_MinGW_32bit-Debug/Makefile.Debug
build-pult-Desktop_Qt_5_11_1_MinGW_32bit-Debug/Makefile.Release
build-pult-Desktop_Qt_5_11_1_MinGW_32bit-Debug/ui_controlpanel.h
*.stash
*.o
build-pult/debug/moc_controlpanel.cpp
build-pult/debug/moc_predefs.h
build-pult/debug/moc_rovorient.cpp
build-pult/debug/pult.exe
build-pult/Makefile
build-pult/Makefile.Debug
build-pult/Makefile.Debug
build-pult/Makefile.Release
build-pult/ui_controlpanel.h
build-pult/debug/moc_communication.cpp
build-pult/debug/moc_rovcontrol.cpp
build-pult/debug/moc_communication.cpp
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_communication.cpp
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_controlpanel.cpp
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_predefs.h
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_rovcontrol.cpp
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_rovorient.cpp
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/pult.exe
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile.Debug
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile.Release
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/ui_controlpanel.h
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmp1haehr
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmpbrb4lk
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmpby7ofc
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmpisadaq
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmpqvmrhz
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmprebd4g
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmpso46dm
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmpxyz9mf
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmpzwdtye
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/qrc_Img.cpp
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/object_script.pult.Debug
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/object_script.pult.Release
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmpdedgat
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmphncpin
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmpjdemlf
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmpshvb4o
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmpuuupiu
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmpygfz1m
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmpyjwsbe
build-pult-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/usershydron~1appdatalocaltemptmpzdik82
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/dial.png
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_communication.cpp
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_controlpanel.cpp
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_predefs.h
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_rovcontrol.cpp
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_rovorient.cpp
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/pult.exe
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/qrc_Img.cpp
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/rov.png
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/dial.png
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/images/arrow.png
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/images/dial.png
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/images/rov.png
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Debug
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Release
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/object_script.pult.Debug
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/object_script.pult.Release
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/rov.png
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_controlpanel.h
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmp1fzhar
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmp2nv3ix
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmp4o1sjn
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmpb9sfv6
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmpbyjpxq
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmpjhqdyn
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmpjthjpi
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmplm_f_o
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmpneroyf
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmpo0jsz4
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmpqsqyuc
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmpsju6wi
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmpwu7rqr
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmpx0vsdh
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmpxp_jhf
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmpyvytbk
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmpzfkz3m
build-pult-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersadminappdatalocaltemptmpzpeukw
pult/pult.pro.user.c560a79
pult/pult.pro.user
pult/pult.pro.user
